.features {
  background: black;
  color: white;
  padding: 100px 0;
  height: 75vh;
}

.features_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 100px;
}

.features_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.features_img--container {
  display: flex;
  justify-content: center;
}

.features_img--card {
  background: #ff512f;
  background: -webkit-linear-gradient(to right, #dd2476, #ff512f);
  background: linear-gradient(to right, #dd2476, #ff512f);
  height: 400px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.fas {
  font-size: 14rem;
}

.features_container h1 {
  font-size: 2rem;
  background-color: #fe3b6f;
  background-image: linear-gradient(to top, #ff087b 0%, #ed1a52 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features_container h2 {
  font-size: 4rem;
  /* background: #ff8177;
  background: -webkit-linear-gradient(to right, #9114ff, #e046ff);
  background: linear-gradient(to right, #8f0eff, #da22ff); */
  background: #da22ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #9733ee,
    #da22ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #9733ee,
    #da22ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-weight: 400;
}

.features_container p {
  margin: 20px 0px;
  font-size: 2rem;
  font-weight: 700;
}

#animBtn3 {
  position: relative;
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 7.5px 20px;
  background-size: 100%;
  border-radius: 3px;
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
}

#animBtn3 span {
  font-size: 1.2rem;
  position: relative;
  z-index: 100;
}

#animBtn3:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.3s all ease;
  background-color: #ff1ead;
  z-index: 99;
  border-radius: 3px;
}

#animBtn3:hover:after {
  width: 100%;
}
