* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

html {
  height: 100%;
}

body {
  height: 300vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  padding: 10px 0;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 50px;
  font-size: 1.2rem;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.75);
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

#navLogo {
  margin-left: 25px;
  color: white;
  font-weight: 900;
}

/* #navLogo h2 {
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.navMenu {
  list-style: none;
  display: flex;
  margin-right: 25px;
  align-items: center;
}

.navMenu .navItem .navbarLinks {
  margin-right: 20px;
  color: white;
}

.navMenu .navItemBtn .signup {
  position: relative;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 5px 20px;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  color: #fff;
  transition: all 0.3s ease;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 960px) {
  #navLogo {
    position: absolute;
    z-index: 10;
  }

  .toggleNav {
    position: absolute;
    height: 100%;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    right: 100px;
    cursor: pointer;
    z-index: 10;
  }

  .toggleNav .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 2.5px auto;
    transition: 0.5s all ease;
  }

  .navMenu {
    position: absolute;
    display: grid;
    background-color: #131313;
    width: 100%;
    top: -500px;
    z-index: 1;
    transition: 0.5s all ease;
  }

  .navMenu.active {
    position: absolute;
    display: grid;
    background-color: #131313;
    width: 100%;
    height: 40vh;
    top: 0;
    background: rgba(0, 0, 0, 0.95);
  }

  .navMenu .navbarLinks {
    display: flex;
    justify-content: center;
  }

  .toggleNav.active .bar:nth-child(2) {
    opacity: 0;
  }
  .toggleNav.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .toggleNav.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .navItemBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    margin: 0;
    padding: 0;
  }

  .navMenu .navItemBtn .signup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 30px;
    margin: 0;
    padding: 0 0;
  }
}

#animBtn:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  transition: 0.3s all ease;
  background-color: #ff1ead;
  z-index: 99;
  border-radius: 5px;
}

#animBtn:hover:after {
  width: 100%;
}

#animBtn span {
  position: relative;
  width: 100%;
  z-index: 100;
}

.landing {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  top: 0px;
  right: 0px;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.5s;
}

header {
  position: absolute;
  width: 100%;
  display: flex;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px;
  z-index: 1;
  margin-bottom: auto;
}

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  top: 0px;
  right: 0px;
  align-items: center;
  justify-content: flex-start;
  transition: all 0.5s;
  display: block;
  /* margin-top: 50px; */
}

.logo {
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

.toggle {
  background: url("./Images/menu.png");
  width: 60px;
  height: 60px;
  background-size: 30px;
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: center;
}

video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  background-position: center;
}

.overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-image: linear-gradient(to left, blue, red);
  mix-blend-mode: overlay;
}

.sampleText {
  position: absolute;
  color: white;
  width: 100%;
  height: 100%;
  padding: 0 100px;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sampleText h2 {
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 1em;
}

.sampleText h3 {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1em;
}

.sampleText p {
  font-size: 1rem;
  font-weight: 400;
  margin: 20px 0;
  max-width: 600px;
}

.sampleText a {
  position: relative;
  width: 150px;
  display: inline-block;
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  color: white;
  padding: 10px 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.sampleText a:hover,
.sampleText a:focus,
.sampleText a:active {
  background: -webkit-linear-gradient(to left, #fcb045, #fd1d1d, #833ab4);
  background: linear-gradient(to left, #fcb045, #fd1d1d, #833ab4);
  color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.links {
  position: absolute;
  display: flex;
  list-style: none;
  filter: invert(1);
  align-items: center;
  bottom: 30px;
  transform-origin: left;
  left: 100px;
  transform: scale(0.5);
}

.links a {
  margin-right: 20px;
}

.toggle.active {
  background: url("./Images/close.png");
  background-size: 20px;
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: center;
}

.banner.active {
  right: 250px;
}

@media screen and (min-width: 250px) and (max-width: 300px) and (max-height: 700px) {
  header {
    padding: 15px 25px;
  }

  .logo {
    font-size: 1.125rem;
  }

  .toggle {
    width: 30px;
    height: 30px;
    background-size: 15px;
  }

  .toggle.active {
    background: url("./Images/close.png");
    background-size: 10px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: center;
  }

  .sampleText {
    padding: 0 25px;
  }

  .sampleText h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1em;
  }

  .sampleText h3 {
    font-size: 1.67rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1em;
  }

  .sampleText p {
    font-size: 0.5rem;
  }

  .links {
    left: 30px;
  }

  .sampleText a {
    width: 100px;
    padding: 5px 10px;
  }

  .banner.active {
    right: 100px;
  }
}

@media screen and (min-width: 300px) and (max-width: 350px) and (max-height: 600px) {
  header {
    padding: 10px 25px;
  }

  .logo {
    font-size: 1.5rem;
  }

  .sampleText {
    padding: 0 30px;
  }

  .sampleText h2 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1em;
  }

  .sampleText h3 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1em;
  }

  .sampleText p {
    font-size: 0.6rem;
  }

  .links {
    left: 30px;
  }

  .banner.active {
    right: 150px;
  }

  .sampleText a {
    width: 120px;
    padding: 5px 10px;
  }
}

@media screen and (min-width: 360px) and (max-height: 640px) {
  header {
    padding: 10px 25px;
  }
  .sampleText {
    padding: 0 25px;
  }

  .sampleText h2 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1em;
  }

  .sampleText h3 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1em;
  }

  .sampleText p {
    font-size: 0.75rem;
  }

  .links {
    left: 25px;
  }

  .banner.active {
    right: 150px;
  }
}

@media screen and (min-width: 370px) and (max-width: 450px) and (max-height: 850px) {
  header {
    padding: 10px 25px;
  }

  .logo {
    font-size: 1.75rem;
  }

  .sampleText {
    padding: 0 30px;
  }

  .sampleText h2 {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1em;
  }

  .sampleText h3 {
    font-size: 2.67rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1em;
  }

  .sampleText p {
    font-size: 0.8rem;
  }

  .links {
    left: 30px;
  }

  .banner.active {
    right: 150px;
  }
}
